.searchform-outside {
    padding-top: 40px;
}
.searchform-container {
    width: 50%;
    min-width: 200px;
    height: 200px;
    /* background-color: white; */
    margin: auto;
    padding: 20px;
    height: fit-content;
    border-radius: 3px;
}

.input-container {
    border-bottom: 2px;
    border-bottom-color: #00bbec;
    border-bottom-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.input-search {
    border: none;
    width: 100%;
    color:white;
    background-color: transparent;
}

input.input-search:focus {
    border: none;
    outline: none;
}

.search-icon {
    width: 15px;
    height: 15px;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 5px;
}

.button-container>button {
    width: 50px;
    background-color: aliceblue;
    color: #1a1a1a;
    font-size: 9px;
    border: none;
    padding: 5px 5px;
}

.button-container>button:hover {
    background-color: #00bbec;
}